.main-header {
    width: 100%;
    height: 90px;
    background: #66e097;
    font-size: 18x;
    font-weight: bold;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}